---
title: Thank you!
subtitle: Your message
description: A page with
featured_image: /images/61036845_2316725505053994_8517334217175072768_o.jpg
---

---
layout: default
title: Tag
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}


=======
{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in tags %}
	<a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}


===
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
<!--{% for tag in tags %}-->
<!--	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>-->
<!--	<ul>-->
<!--	 {% for post in site.posts %}-->
<!--		 {% if post.tags contains tag %}-->
<!--		 <li>-->
<!--		 <h3>-->
<!--		 <a href="{{ post.url }}">-->
<!--		 {{ post.title }}-->
<!--		 <small>{{ post.date | date_to_string }}</small>-->
<!--		 </a>-->
<!--		 {% for tag in post.tags %}-->
<!--			 <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>-->
<!--		 {% endfor %}-->
<!--		 </h3>-->
<!--		 </li>-->
<!--		 {% endif %}-->
<!--	 {% endfor %}-->
<!--	</ul>-->
<!--{% endfor %}-->

LAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

 {% for post in site.posts %}
	 {% if post.tags contains "transferlearning" %}
	 <li>
	 <h3>
	 <a href="{{ post.url }}">
	 {{ post.title }}
	 <small>{{ post.date | date_to_string }}</small>
	 </a>
	 {% for tag in post.tags %}
		 <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
	 {% endfor %}
	 </h3>
	 </li>
	 {% endif %}
 {% endfor %}



LAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!!


  {% capture attribute_name %}{{ item.title | handleize }}-{{ i }}-color{% endcapture %}

  <label for="{{ attribute_name }}">Color:</label>
  <select name="attributes[{{ attribute_name }}]" id="{{ attribute_name }}">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
  </select>

dasdaaaaaaaaaaaaaaaaaaaa
						<select id="digits">
							<option value="nlp">nlp</option>
							<option value="cv">cv</option>
						</select>

var digit = document.getElementById("digits");
var correct_digit = digit.options[digit.selectedIndex].text
correct_digit
 {% for post in site.posts %}
	 {% if post.tags contains nlp %}
	 <li>
	 <h3>
	 <a href="{{ post.url }}">
	 {{ post.title }}
	 <small>{{ post.date | date_to_string }}</small>
	 </a>
	 {% for tag in post.tags %}
		 <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
	 {% endfor %}
	 </h3>
	 </li>
	 {% endif %}
 {% endfor %}