<h2>All tags</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    {% assign count = site.tags[tagname].size %}
  <a href="/tag/{{ tagname | slugify }}" class="btn btn-outline-primary tag-btn">

        <span class="fa fa-tag" aria-hidden="true"></span> {{ tagname }} ({{ count }})
  </a>

{% endfor %}