<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>
<a href="https://www.buymeacoffee.com/andlukyane"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a tea&emoji=🍵&slug=andlukyane&button_colour=abb7b7&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"></a>
		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<!--<a href="https://jekyllthemes.io" target="_blank">Jekyll Themes</a>-->
		</div>

		<a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>

		{% include socials.html %}

	</div>

</footer>
<script src="/js/bootstrap.bundle.min.js"></script>