---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

									{% for tag in page.tags %}
						  {% capture tag_name %}{{ tag }}{% endcapture %}
								<a href="/tag/{{ tag_name | slugify }}" class="btn btn-outline-dark tag-btn">
        						<span class="fas fa-tag" aria-hidden="true"></span> {{ tag_name }}
								</a>
						{% endfor %}

			{% include  share.html %}
		</article>

		<script src="https://utteranc.es/client.js"
        repo="Erlemar/andlukyane-comments"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

	</div>

</section>
