---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}
			{% include  share.html %}

		</article>
				<script src="https://utteranc.es/client.js"
        repo="Erlemar/andlukyane-comments"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

	</div>

</section>