---
layout: default
---
<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>


<section class="single">

	<div class="wrap">

		<article class="single-post">

			<div class="post other-pages">
				<h2>Tag: {{ page.tag }}</h2>
				<ul>
				{% for post in site.tags[page.tag] %}
				  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
				  </li>
				{% endfor %}
				</ul>
			</div>

			<hr>


			{% include archive.html %}

		</article>

	</div>

</section>
